{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}


 <div id="head" class="card-header shadow">
        <h1>بازیابی پسورد</h1>
    </div>
    <div id="card-form" class="card shadow">
        <div class="card ">
        <p>آدررس ایمیل خود را وارد نمایید </p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% if form.errors %}
        <p class="red-text">آدررس ایمیل صحیح نیست</p>

        {% endif %}
{#        {{ form.as_p }}#}
        <input class="form-control mb-3" type="email" name="email" placeholder="آدررس ایمیل" autocomplete="email" required="" id="id_email">
        <input class="btn btn-success rounded" type="submit"  value="ارسال ایمیل">
    </form>

    </div>
    </div>
{% endblock %}

